@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'Tungsten';
    src: url(fonte.ttf);
}

@font-face{
    font-family: 'InriaSans Regular';
    src: url(InriaSans-Regular.ttf);
}

@font-face{
    font-family: 'InriaSans Light';
    src: url(InriaSans-Light.ttf);
}

:root{
    background-color: #303030;
    --cor-hover-list: #42FED0;
    --cor-menu-lateral:#0C141C;
    --cor-primeiro-item-list:#FE4554;
    --online-color:#6DC8B8;
    --ausente-color:#F0A87B;
    --em-jogo-color:#54A3DA;
    --fundo-menu-options:#1F2025;
    --block-menu-options:#525256;
    --block-panel-fundo: linear-gradient(137deg, rgba(48,72,71,1) 52%, rgba(30,45,46,1) 99%);
    font-family: 'Tungsten', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
    text-decoration: none;
    color: #E5E5E5;      
}

html, body{
    overflow: hidden;
    display: flex;
    height: 100%;
}

.cabecalho{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.cabecalho .menu-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    justify-content: space-between;
}

.cabecalho .menu-nav div{
    display: flex;
    align-items: center;
}

.cabecalho .menu-nav div .menu-top-right{
    display: flex;
    list-style: none;
    margin-right: .4rem;
}

.cabecalho .menu-nav div .menu-top-right li{
    padding: 0.4rem;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.cabecalho .menu-nav div span .options-btn i{
    margin: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: .5rem;
    cursor: pointer;
    transition: transform .3s;
    margin-right: .2rem;
}

.cabecalho .menu-nav div span{
    transition: background .3s;
}

.cabecalho .menu-nav div span i:hover{
    transform: rotate(60deg);
}

.cabecalho .menu-nav div span:hover{
    background-color: #ffffff30;
}

.logo-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.cabecalho .menu-nav .logo-left img{
    width: 3rem;
    height: 3rem;
}

.main-content{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.main-content .fundo-intro{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: fill;
}

.main-content .page-content .menu-left{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    list-style-type:square;
    gap: .5rem;
}

.main-content .page-content .menu-left .list-menu i{
    font-size: 3rem;
}

.main-content .page-content .menu-left .list-menu{
    transition: color .1s;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.main-content .page-content .menu-left .list-menu a{
    transition: transform .15s;
}
.main-content .page-content .menu-left .list-menu .first-item{
    color: var(--cor-primeiro-item-list);
    font-size: 5rem;
}

.main-content .page-content .menu-left .list-menu i{
    font-size: .5rem;
    color: white;
    transform: rotate(45deg);
    transition: all .2s;
}

.main-content .page-content .menu-left .list-menu:hover a{
    color: var(--cor-hover-list);
    transform: translateX(.8rem);
}

.main-content .page-content .menu-left .list-menu:hover i{
    transform: rotate(225deg) scale(1.7);
    color: var(--cor-hover-list);
}


.main-content .page-content .menu-right{
    position: absolute;
    right: -10.1rem;
    top: 2.8rem;
    height: 100%;
    width: 13rem;
    background-color: #0C141C80;
    border-top: .1rem solid white;
    cursor: pointer;
    transition: right .3s;
    backdrop-filter: blur(5px);
}

.btn-open-menu-right{
    opacity: 0;
    position: absolute;
    top: 50%;
    font-size: 1.2rem;
    right: 3.5rem;
    z-index: 2;
    transition: opacity .1s, right .3s;
}

.menu-right:hover + .btn-open-menu-right{
    opacity: 1;
}

.main-content .page-content .menu-right .list-menu-right{
    background-color: #2F363C80;
    list-style: none;
    font-size: .8rem;
    font-family:'InriaSans Regular', sans-serif;
}

.list-menu-right .block-list, .list-menu-right .block-drop{
    display: flex;
    align-items: center;
    border-top: .125rem solid #00000015;
}

.list-menu-right .block-list .block-text{
    display: flex;
    flex-direction: column;
    margin-left: .7rem;
    justify-content: center;
    font-weight: 600;
}

.block-text span{
    text-transform: lowercase;
}

.perfil-activity{
    font-size: .7rem;
    text-transform: capitalize;
}

.perfil-activity::before{
    position: absolute;
    content: ' \25CF';
    font-size: 1rem;
    z-index: 5;
    color: var(--online-color);
    transform: translateX(-1.2rem) translateY(-.2rem);
    text-shadow: 
             -1px -1px 0px #FFF, 
             -1px 1px 0px #FFF,                    
              1px -1px 0px #FFF,                  
              1px 1px 0px #FFF;
}

/* .block-list.status-online .perfil-activity{
    content: 'online';
    color: #589C91;
} */

.conectado{
    color: #589C91;
}

.em-jogo{
    color: #529ACB;
}
.ausente{
    color: #CA926E;
}

.list-menu-right .block-list:hover{
    background-color: #5c616499;
    border-top: .125rem solid #5c616401;
}

.perfil-icon{
    width: 2.35rem;
    object-fit: cover;
    box-sizing: content-box;
    padding: .2rem;
}

.perfil-name{
    font-size: .8rem;
    font-weight: 500;
    font-family: 'InriaSans Regular';
}

.drop-name{
    margin-left: .2rem;
    text-transform:uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.drop-number{
    text-align: center;
    text-transform: uppercase;
    width: 2.8rem;
    padding: .1rem;
    box-sizing: content-box;
}

.drop-box{
    height: 2rem;
    background-color: #2F363C;
}

.drop-arrow{
    position: absolute;
    display: flex;
    right: .7rem;
    font-size: .9rem;
}


.main-content .section-options{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #23232390;
    backdrop-filter: blur(3px);
}

.section-options:target{
    display: flex;
}

.section-options .menu-options .btn-exit-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    position: absolute;
    margin-right:-26rem;
    margin-top: -20.5rem;
    background-color: #52525680;
    width: 3rem;
    height: 3rem;
    transition: width .3s, height .3s, font-size .3s;
}

.section-options .menu-options .btn-exit-menu:hover{
    font-size: 3.3rem;
}


.section-options .menu-options{
    font-family: 'InriaSans Light', sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-menu-options);
    border-top: .1rem solid white;
    border-bottom: .1rem solid white;
    gap: .2rem;
    width: 30rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.menu-options .block-menu-options{
    justify-content: center;
    align-items: center;
    width: 20rem;
    background: none;
    background-color: var(--block-menu-options);
    border: .18rem solid #7D7D80;
    font-family: 'InriaSans Light', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;    height: 3rem;
    border: .18rem solid #7D7D80;
    padding: 1rem;
    box-sizing: border-box;
    transition: border .2s;
}

.menu-options .block-menu-options:hover, .section-panel .block-panel:hover{
    border: .20rem solid #EAEEB2;
}

.section-options .menu-options .list-menu-options .arrow-menu{
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

.list-menu-options .exit-block{
    background-color: #C46464;
    border: .18rem solid #D38A8B;
}

.version-options p{
    letter-spacing: 1px;
    font-size: .6rem;
    color: #909090;
}

.main-content .section-panel{
    position: absolute;
    z-index: -1;
    top: 7.2rem;
    right: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    font-family: 'InriaSans Light', sans-serif;
}

.section-panel .highlights, .section-panel .slider{
    width: 100%;
    overflow: hidden;
    transition: transform .2s;
    cursor: pointer;
    border: 1px solid #D6BAB5;

}

.section-panel .highlights{
    height: 20rem;
}

.section-panel .slider{
    height: 10rem;
}

.section-panel .highlights img, .section-panel .slider img{
    width: 100%;
    height: 100%;
}

.section-panel .block-panel{
    font-family: 'InriaSans Light', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3rem;
    border: .18rem solid #7D7D80;
    box-sizing: border-box;
    transition: transform .2s, border .2s; 
    background: var(--block-panel-fundo);
    justify-content: space-between;
    align-items: center;
}

.section-panel .block-panel .block-text{
    font-size: 1.27rem;
    padding: 0;
    top: 0;
    margin-top: .2rem;
}

.section-panel .block-panel .version-panel{
    font-size: .7rem;
    width: 15rem;
    text-align: center;
    background-color: #73767B;
}

.section-panel .block-highlights-mode{
    width: 100%;
    height: 4rem;
    background-color: #0E101250;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    border-top: .1rem solid #ffffff80;
    border-bottom: .1rem solid #ffffff80;
    transition: transform .2s;
}

.block-highlights-mode .title-mode{
    background-color: #0E101280;
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    font-size: .7rem;
    padding: .2rem;
}

.block-highlights-mode .block-mode{
    display: flex;
    margin-top: .3rem;
    flex-direction: row;
    justify-content: center;
    font-size: .9rem;
    text-transform: uppercase;
}

.block-mode .icon-mode{
    background-color: #43414490;
    display: flex;
    align-items: center;
    padding: .35rem .25rem .25rem .25rem;
    font-size: 1.3rem;
}

.block-mode .name-mode{
    background-color: #27282B80;
}

.block-mode .time-mode{
    background-color: #27282B50;
}

.block-mode .name-mode, .block-mode .time-mode{
    padding: .4rem .3rem;
    font-size: .7rem;
}

.section-panel .highlights:hover, .section-panel .slider:hover, .section-panel .block-panel:hover, .section-panel .block-highlights-mode:hover{
    transform: scale(1.003);
}





